<footer>

	<div class="float-left">
		<a href="#" class="button">Ajuda</a> <a href="#" class="button">Sobre</a>
	</div>

	<div class="float-right">
		<a href="#top" class="button"><g:img
				file="icons/fugue/navigation-090.png" width="16" height="16" /> Topo</a>
	</div>

</footer>