<!-- Header -->
<!-- Server status -->
<header>
    <div class="container_12">
        <p id="skin-name">
            <small>Titânio<br />
                Ágile </small>
        </p>
        <div class="server-info">
            Versão: <strong>0.0.1</strong>
        </div>
    </div>
</header>
<!-- End server status -->
